/*Medium Layout: 1200px*/
@media only screen and (min-width:992px) and (max-width:1200px){
    .slider-text-area {
        padding-top: 70px;
    }
    .slider-area{
        height: 600px;
    }
    .carousel-indicators {
        top: 440px;
    }
}


/*Tablet Layout: 768px*/
@media only screen and (min-width:768px) and (max-width:991px){
    .slider-text-area {
        padding-top: 30px;
    }
    .carousel-indicators {
        position: absolute;
        top: 330px;
    }
    .slider-area{
        height: 500px;
    }
    /*.carousel-control-prev , .carousel-control-next{
        
    }*/
}


/*Mobile Layout: 320px*/
@media only screen and (max-width:767px){
    .slider-text-area {
    padding-top: 0px;
}
.slider-text-area h1 {
    font-size: 30px;
    margin: 0px;
}

.carousel-item button{
    display: none;
}
.carousel-control-next, .carousel-control-prev {
    display: none;
}
.carousel-item img{
    width: 85% !important;
}
.slider-text-area p {
    margin-bottom: 10px;
}
.carousel-indicators {
    position: absolute;
    top: 520px;
}

}

/* Wide Mobile Layout: 320px*/
@media only screen and (min-wedth:480px) and (max-width:767px){

    
}

